flask==3.0.3
pymupdf==1.24.9
easyocr==1.7.1
sentence-transformers==3.0.1
chroma-hnswlib==0.7.5
chromadb
google-generativeai==0.8.0
pillow==10.4.0
torch==2.3.1
torchvision==0.18.1
python-dotenv==1.0.1
werkzeug==3.0.4
requests==2.32.3
numpy<2.0.0
